
#portiat {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 2em;
    box-shadow: 10px 10px 5px rgb(63, 61, 61);
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #C3DAC3;
    background-image: linear-gradient(#C3DAC3, rgb(223, 221, 221));
 
}

.name-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    line-height: 5%;
    padding-top: 2em;
    padding-bottom: 3em;
}

#name {
    font-size: 2em;
}
#title {
    font-size: 1.2em;
}
.border {
    border-bottom:  2px solid rgb(116, 112, 112);
    margin: 0 25% 
}
.site-main {
    align-items: center;
    font-size: 1em;
    padding: 2em;
    line-height: 2em;
    /* border: 2px solid rgba(128, 128, 128, 0.247); */
    box-shadow: 5px 5px 5px rgba(167, 186, 192, 0.598);
    margin: 1rem;
    background-color: rgb(223, 221, 221);
 }

#education-box {
    padding: 1em;
    line-height: 2em;
    /* border: 2px solid rgba(128, 128, 128, 0.247); */
    box-shadow: 5px 5px 5px rgba(167, 186, 192, 0.598);
    margin: 1rem;
    background-color: rgb(223, 221, 221);
}

#education-header {
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
}

.education {
    line-height: 1em;
    padding-left: 1em;
}
.education li{
    font-weight: bold;
}

#skills-box {
    padding: 1em;
    line-height: 2em;
    /* border: 2px solid rgba(128, 128, 128, 0.247); */
    box-shadow: 5px 5px 5px rgba(167, 186, 192, 0.598);
    margin: 1rem;
    background-color: rgb(223, 221, 221);
}

#skill-header {
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
}

.skill-list{
    line-height: 1em;
    padding-left: 1em;
}

.skill-cat {
    font-weight: bold;
}

#skills-text {
    display:flex ;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
}

#projects-box {
    padding: 1em;
    line-height: 2em;
    /* border: 2px solid rgba(128, 128, 128, 0.247); */
    box-shadow: 5px 5px 5px rgba(167, 186, 192, 0.598);
    margin: 1rem;
    background-color: rgb(223, 221, 221);
}

#projects-header {
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
}

#projects-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    min-width: 300px;
    max-height: 400px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border-bottom:  2px solid rgb(116, 112, 112);
}

.logo {
    height: 150px;
    width:150px;
    box-shadow: 10px 10px 5px rgb(63, 61, 61);
}

.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
    padding-top: 4em;
    justify-content: space-around;
}

#github,
#linkdin-link {
    font-size: 3em;
}
/* 
#github:hover {
    animation: fa-flip 2s infinite linear;
}

#linkdin-link:hover { 
    animation: fa-flip 2s infinite linear;
}

#email:hover {
    animation: fa-beat 2s infinite;
} */

.appear {
    transition: all 0.8s;
    opacity: 0;
    transform: translateY(40px);
  }
  
  .appear.inview {
    opacity: 1;
    transform: none;
    transition-delay: 0.3s;
  }

@media screen and (min-width: 700px) {
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.site-main {
    display: flex;
    align-items: center;
}

#projects-content{
    padding-top: 1em;
    font-size: 1.5em;
}

.projects {
    min-width: 500px;
    max-height: auto;
}

.logo {
    height: 180px;
    width:180px;
}
}


@media screen and (min-width: 1000px) {
#portiat {
    width: 280px;
    height: 280px;
}

#name {
    font-size: 4em;
}
#title {
    font-size: 3em;
}

.site-main {
    font-size: 1.5em;
    margin: 2rem;
}

#education-box,
#skills-box,
#projects-box {
    margin: 2rem;
}  

#projects-content {
    padding-top: 1em;
    justify-content: space-around;
} 

#email {
    font-size: 2em;
}

#github, 
#linkdin-link {
    font-size: 5em;
}

.contact-info {
    display: flex;
    flex-direction: row;
    padding: 2em;
    padding-top: 4em;
    justify-content: space-evenly;
}
    
}